/* Coolors Exported Palette - https://coolors.co/40a355-9e54bd-f0ad4e-d9534f */

/* CSS HEX */
--medium-jungle: #40a355ff;
--amethyst: #9e54bdff;
--honey-bronze: #f0ad4eff;
--lobster-pink: #d9534fff;

/* CSS HSL */
--medium-jungle: hsla(133, 44%, 45%, 1);
--amethyst: hsla(282, 44%, 54%, 1);
--honey-bronze: hsla(35, 84%, 62%, 1);
--lobster-pink: hsla(2, 64%, 58%, 1);

/* SCSS HEX */
$medium-jungle: #40a355ff;
$amethyst: #9e54bdff;
$honey-bronze: #f0ad4eff;
$lobster-pink: #d9534fff;

/* SCSS HSL */
$medium-jungle: hsla(133, 44%, 45%, 1);
$amethyst: hsla(282, 44%, 54%, 1);
$honey-bronze: hsla(35, 84%, 62%, 1);
$lobster-pink: hsla(2, 64%, 58%, 1);

/* SCSS RGB */
$medium-jungle: rgba(64, 163, 85, 1);
$amethyst: rgba(158, 84, 189, 1);
$honey-bronze: rgba(240, 173, 78, 1);
$lobster-pink: rgba(217, 83, 79, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-right: linear-gradient(90deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-bottom: linear-gradient(180deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-left: linear-gradient(270deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-top-right: linear-gradient(45deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-bottom-right: linear-gradient(135deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-top-left: linear-gradient(225deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-bottom-left: linear-gradient(315deg, #40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);
$gradient-radial: radial-gradient(#40a355ff, #9e54bdff, #f0ad4eff, #d9534fff);